autograd==1.3
joblib==0.15.1
matplotlib==3.2.1
pandas==1.0.3
pymoo==0.4.2.2
tensorflow==2.5
scikit-learn==0.24.1
gurobipy==9.1.0
tqdm==4.54.1
adversarial-robustness-toolbox[tensorflow]==1.7.0
dvc[all]==2.4.3
Pillow==8.3.0
pyrecorder==0.1.8
pytest
comet-ml==3.13.1
shap==0.39.0
imbalanced-learn==0.8.0
mergedeep==1.3.4